<template>
  <div class="field">

    <div v-if="['text', 'datetime-local', 'time'].indexOf(field.widget.input_type) !== -1">
      <div class="input-field col s12">
        <v-text-input is="input"
                      :id="fieldName"
                      :type="field.widget.input_type"
                      v-model="form.data[fieldName]"
                      @blur="_validate()"
                      @input="updateValue(fieldName, $event.target.value)">
        </v-text-input>
        <label :for="fieldName"
               :data-error="getError">
                {{ field.label || fieldName }}
        </label>
      </div>
    </div>

    <div v-else-if="field.widget.input_type === 'email'">
      <div class="input-field col s12">
          <v-text-input is="input"
                        :id="fieldName"
                        :type="field.widget.input_type"
                        v-model="form.data[fieldName]"
                        @blur="_validate()"
                        @input="updateValue(fieldName, $event.target.value)">
          </v-text-input>
          <label :for="fieldName"
                 :data-error="getError">
                  {{ fieldName }}
          </label>
      </div>
    </div>

    <div v-else-if="field.widget.input_type === 'textarea'">
      <div class="input-field col s12">
        <v-text-area :id="fieldName" class="materialize-textarea"></v-text-area>
        <label :for="fieldName">{{ fieldName }}</label>
      </div>
    </div>

    <div v-else-if="field.widget.input_type === 'select'">
      <div class="input-field col s12">
        <label :for="fieldName"
               :data-error="getError">
               {{ fieldName }}
        </label>

        <v-select class="validate">
          <option v-for="choice in field.widget.choices"
                  :value="choice.value">
            {{ choice.display }}
          </option>
        </v-select>
      </div>
    </div>

    <div v-else-if="field.widget.input_type === 'selectmultiple'">
      <div class="input-field col s12">
        <div class="input-field">
          <label :for="fieldName"
                 :data-error="getError">
                 {{ fieldName }}
          </label>
          <v-select multiple>
            <option v-for="choice in field.widget.choices"
              v-bind:value="choice.value">
              {{ choice.display }}
            </option>
          </v-select>
        </div>
      </div>
    </div>

    <div v-else-if="field.widget.input_type === 'checkbox'">
      <div class="input-field col s12">
        <div class="input-field">
          <div class="switch">
            <label>
              {{ fieldName }}
              <input :type="field.widget.input_type" v-bind:name="fieldName">
              <span class="lever"></span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div v-else-if="field.widget.input_type == 'date'">
      <div class="input-field col s12">
        <div class="input-field">
          <label :for="fieldName"
                 :data-error="getError">
            {{ fieldName }}
          </label>

          <v-date-input :id="fieldName"></v-date-input>
        </div>
      </div>
    </div>

    <div v-else-if="field.widget.input_type == 'file'">
      <div class="input-field col s12">
        <div class="input-field">
          <label :for="fieldName"
                 :data-error="getError">
            {{ fieldName }}
          </label>
          <input type="file" :id="fieldName" name="">
        </div>
      </div>
    </div>

    <div v-else>
      NO SE PUEDE ESTE: <label>{{ fieldName }}</label>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'

export default {
  name: 'field',
  props: ['field', 'fieldName', 'index', 'form'],
  data () {
    return {
      formData: this.form.data,
      required: false,
      firstError: null
    }
  },
  created: function () {
    this.required = this.field.required
  },
  methods: {
    updateValue: function (fieldName, value) {
      var formattedValue = value
        // Remove whitespace on either side
        .trim()
      // Emit the number value through the input event
      this.$emit('inputChange', {
        'fieldName': fieldName,
        'value': formattedValue
      })
      return formattedValue
    },
    _validate: function () {
      this.$nextTick(function () {
        if (this.getError) {
          $('#' + this.fieldName).addClass('invalid')
          $('#' + this.fieldName).removeClass('valid')
        } else {
          $('#' + this.fieldName).addClass('valid')
          $('#' + this.fieldName).removeClass('invalid')
        }
      })
    },
    clean: function () {
      var vm = this
      this.$nextTick(function () {
        vm.form.data[vm.fieldName] = null
      })
    }
  },
  computed: {
    getError: function () {
      if (this.required && !this.form.data[this.fieldName]) {
        return this.field.error_messages.required
      } else if (this.form.typed_errors[this.fieldName]) {
        var errors = this.form.typed_errors[this.fieldName]
        return errors[0].message
      } else {
        return null
      }
    }
  },
  watch: {
    formData: function () {
      return this.form.data
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  label[data-error]:after {
    white-space: nowrap;
  }
  .input-field label {
    font-size: 0.8rem;
    -webkit-transform: translateY(-140%);
    -moz-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    -o-transform: translateY(-140%);
    transform: translateY(-140%);
  }
</style>
