<template>
  <div class="form">
    <div class="row">
      <field
        ref="fields"
        v-for="(field, name, index) in form.fields"
        :field="field"
        :fieldName="name"
        :index="index"
        :form="form"
        v-on:inputChange="updateField">
      </field>
    </div>

    <button v-on:click="submit" class="btn waves-effect waves-light">Enviar</button>
  </div>
</template>

<script>
import axios from 'axios'
import Field from './Field'
import $ from 'jquery'

export default {
  name: 'remote-form',
  props: ['formURL'],
  components: {
    Field
  },
  created: function () {
    this.renderForm()
  },
  methods: {
    getForm: function () {
      var vm = this
      // return promise
      return axios.get(vm.formURL)
    },
    renderForm: function () {
      var vm = this
      this.getForm()
      .then(function (response) {
        vm.form = response.data
      })
      .catch(function (error) {
        console.log(error)
      })
    },
    validate: function () {
      // validate
      var vm = this

      $.each(this.form.data, function (key, value) {
        console.log(key, value)
      })
      axios.post(this.formURL, this.form.data)
      .then(function (response) {
        console.log(response)
        // es valido terminar proceso
        vm.cleanForm()
      })
      .catch(function (error) {
        vm.form = error.response.data
        $.each(vm.$refs.fields, function (key, child) {
          child._validate()
        })
      })
    },
    submit: function () {
      // submitear
      this.validate()
    },
    updateField: function (fieldData) {
      this.form.data[fieldData.fieldName] = fieldData.value
    },
    cleanForm: function () {
      // ?
    }
  },
  data () {
    return {
      form: {}
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
